      .container {
        display: flex;
        flex-wrap: wrap;
      }
      .card {
         width: 200px;
         height: auto;
         background-color: rgb(207, 203, 203);
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
         margin: 20px;
         border-radius: 12px;
         min-width: 150px;
      }
      .card:hover {
         /* add outline on the card */
         outline: 5px solid rgb(97, 93, 93);
         /* change background color on hover */
         background-color: rgb(120, 230, 230);
      }
      .titulo {
        font-size: 1.2rem;
        font-size: larger;
        justify-content: space-around;
        margin-top: 5px;
        padding: 1px;
     }
      img {
         width: 95%;
         height: 60%;
         /* padding: 10px; */
         margin-top: 5px;
         border-radius: 150px;
         border:2px solid #666;
      }
      p {
         font-size: 1.2rem;
         justify-content: space-around;
         margin-top: -5px;
         padding: 1px;
      }

      .circulo {
            border-radius: 50%;
            width: 100px;
            height: 100px;
      }